:root {
  --logo: #2196f3;
  --maintext: #212121;
  --greytext: #757575;
  --focus: #2196f3;
  --herotext: #ffffff;
  --background-hero: #2f303a;
  --text-adress: rgba(255, 255, 255, 0.6);
  --background-button: #f5f4fa;
  --background-interest: #e5e5e5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto;
  background-color: var(--background-interest);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/*header*/
.active {
  font-weight: 500;
  display: flex;
  line-height: 1.172;
  color: #212121;
}
.logo {
  font-family: raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1738;
  color: var(--logo);
}
.logoS {
  color: var(--maintext);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  color: var(--maintext);
  line-height: 1.1738;
  color: var(--greytext);
}
.pages .link {
  color: var(--maintext);
}

.herro {
  max-width: 1200px;
  max-height: 600px;
  background-color: var(--background-hero);
  color: var(--herotext);
}
.herro h1 {
  font-weight: 900;
  line-height: 1.1738;
  font-size: 44px;
  font-style: normal;
}

.request {
  font-weight: 900;
  line-height: 1.875;
  background-color: var(--focus);
  color: var(--background-button);
}

/*advantages*/

.advantages {
  max-width: 1200px;
}

.advantages ul {
  display: flex;
}

.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  font-style: normal;
}

.advantages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.172;
  color: var(--greytext);
}

.interest h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
}

.box {
  display: flex;
}

/*teem*/

.teem h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
}

.teem ul {
  display: flex;
}

.teem h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
  text-align: center;
  font-style: normal;
}

.teem p {
  color: var(--greytext);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.172;
  text-align: center;
}

/*footer*/

.foot-conteiner {
  max-width: 1200px;
  background-color: var(--background-hero);
}
.logo-S {
  color: var(--herotext);
}

.contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  font-style: normal;
  text-decoration: none;
  color: var(--text-adress);
}
